<% provide(:title, "All Admins") %>

<h3 style="margin: 30px 0px">Listing Admins</h3>
<% count = 0 %>
<% roles = Admin.roles.keys.to_a %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Sign-in Count</th>
      <th>Current Sign-in At</th>
      <th>Last Sign-in At</th>
      <th>Current Sign-in IP</th>
      <th>Last Sign-in IP</th>
      <th>Created At</th>
      <th>Updated At</th>      
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <% count += 1 %>
      <tr>
        <td><%= count %></td>
        <%= render partial: 'row',
                   object: admin,
                   locals: { roles: roles } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %>
