<% provide(:title, "Edit Contact") %>
<% provide(:button_text, 'Save changes') %>

<h1>Update contact</h1>
<%= render 'form' %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back to Contacts', contacts_path %>
