<% provide(:title, @contact.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="contact_info">
      <h1>
        <%= @contact.name %>
      </h1>
    </section>
  </aside>
</div>
