<% provide(:title, "All Material Orders") %>

<h3 style="margin: 30px 0px">Listing Material Orders</h3>

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Order Title</th>
      <th>Datetime</th>
      <th>Provider</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Material Order', new_material_order_path %>
