<footer class="footer">
  <small>
    Agile inventory management system
  </small>
  <nav>
    <ul>
      <li><%= link_to t('layouts.application.about'), about_path %></li>
    </ul>
  </nav>
</footer>
